################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CMZ.Lab.Application.DTO/obj/Debug/net6.0
/CMZ.Lab.Vertical.Mapper/obj/Debug/net6.0
/CMZ.Lab.Services/obj/Debug/net6.0
/CMZ.Lab.Infrastructure.Data/obj/Debug/net6.0
/CMZ.Lab.Domain.Interface/obj/Debug/net6.0
/CMZ.Lab.Domain.Entity/obj/Debug/net6.0
/CMZ.Lab.Application.Main/obj/Debug/net6.0
/CMZ.Lab.Application.Interface/obj/Debug/net6.0
/.vs
/CMZ.Lab.Vertical.Mapper/bin/Debug/net6.0
/CMZ.Lab.Services/bin/Debug/net6.0
/CMZ.Lab.Infrastructure.Data/bin/Debug/net6.0
/CMZ.Lab.Domain.Interface/bin/Debug/net6.0
/CMZ.Lab.Domain.Entity/bin/Debug/net6.0
/CMZ.Lab.Application.Main/bin/Debug/net6.0
/CMZ.Lab.Application.Interface/bin/Debug/net6.0
/CMZ.Lab.Application.DTO/bin/Debug/net6.0
/.vs/CMZ.Lab.Notifications/v17/.suo
/CMZ.Lab.Vertical.Mapper/obj/project.nuget.cache
/CMZ.Lab.Vertical.Mapper/obj/Debug/net6.0/CMZ.Lab.Vertical.Mapper.csproj.FileListAbsolute.txt
/CMZ.Lab.Vertical.Mapper/obj/Debug/net6.0/CMZ.Lab.Vertical.Mapper.assets.cache
/CMZ.Lab.Services/obj/project.nuget.cache
/CMZ.Lab.Services/obj/Debug/net6.0/CMZ.Lab.Services.csproj.FileListAbsolute.txt
/CMZ.Lab.Services/obj/Debug/net6.0/CMZ.Lab.Services.assets.cache
/CMZ.Lab.Infrastructure.Data/obj/Debug/net6.0/CMZ.Lab.Infrastructure.Data.csproj.FileListAbsolute.txt
/CMZ.Lab.Application.Main/obj/Debug/net6.0/CMZ.Lab.Application.Main.assets.cache
/CMZ.Lab.Application.Main/obj/Debug/net6.0/CMZ.Lab.Application.Main.csproj.FileListAbsolute.txt
/CMZ.Lab.Application.Interface/obj/Debug/net6.0/CMZ.Lab.Application.Interface.csproj.FileListAbsolute.txt
/CMZ.Lab.Application.Interface/obj/Debug/net6.0/CMZ.Lab.Application.Interface.assets.cache
/CMZ.Lab.Application.DTO/obj/Debug/net6.0/CMZ.Lab.Application.DTO.csproj.FileListAbsolute.txt
/CMZ.Lab.Domain.Interface/obj/Debug/net6.0/CMZ.Lab.Domain.Interface.assets.cache
/CMZ.Lab.Domain.Interface/obj/Debug/net6.0/CMZ.Lab.Domain.Interface.csproj.FileListAbsolute.txt
/CMZ.Lab.Domain.Entity/obj/Debug/net6.0/CMZ.Lab.Domain.Entity.csproj.FileListAbsolute.txt
/CMZ.Lab.Domain.Entity/obj/Debug/net6.0/CMZ.Lab.Domain.Entity.assets.cache
/CMZ.Lab.Infrastructure.Data/obj/Debug/net6.0/CMZ.Lab.Infrastructure.Data.assets.cache
/CMZ.Lab.Application.DTO/obj/Debug/net6.0/CMZ.Lab.Application.DTO.assets.cache
/CMZ.Lab.Infrastructure.Data/obj/project.nuget.cache
/CMZ.Lab.Domain.Interface/obj/project.nuget.cache
/CMZ.Lab.Application.Interface/obj/project.nuget.cache
/CMZ.Lab.Application.DTO/obj/project.nuget.cache
/CMZ.Lab.Application.Main/obj
/CMZ.Lab.Domain.Entity/obj/project.nuget.cache
/CMZ.Lab.Application.Interface/Properties/launchSettings.json
/.vs/ProjectEvaluation/cmz.lab.notifications.projects.v5.2
/.vs/ProjectEvaluation/cmz.lab.notifications.metadata.v5.2
/.vs/CMZ.Lab.Notifications/v17/.futdcache.v2
/.vs/CMZ.Lab.Notifications/DesignTimeBuild/.dtbcache.v2
/.vs/CMZ.Lab.Notifications/FileContentIndex/3392e605-5f83-4916-8671-904b07128fe8.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/57ddd586-d8a4-41e2-8337-031411e6fd4c.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/9491814f-8ccd-4c7b-93af-031d464fe697.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/9ac54e50-898f-4a0d-ae4a-8ff6c46a91d0.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/abc84914-3313-44b6-850a-1cf9ea65d8b0.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/e1069feb-329b-404e-8e3b-4c7f1a1adce9.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/f155e04f-5920-4552-881b-be2a35e1c0af.vsidx
/.vs/CMZ.Lab.Notifications/FileContentIndex/fece2a65-9de0-4e2b-9253-178cc9acba05.vsidx
